{% extends "base.html" %}

{% block content %}
<div id="md-edit"></div>
<div id="md-preview">{{doc.render()|safe}}</div>
{% endblock %}

{% block script %}
<script>
    //TODO: make it failing connection resilient. ei. store the events in a var, and send all of them when connection is available.

    function send_microcommit(e) {
        if(!e)
            return;
        $.ajax({
            type: "POST",
            url: "/{{doc.url_id}}/update",
            data: JSON.stringify(e, null, '\t'),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(data){
                console.log(data);
                update_render(data.render);
                handle_recvd_events(data.events);
            },
            failure: function(data) {
                console.error("failure! " + data);
            }
        });
        console.log(JSON.stringify(e.data));
    }
    function update_render(render) {
        $("#md-preview").html(render);
    }


    var editor = ace.edit("md-edit");
    editor.setTheme("ace/theme/twilight");
    editor.getSession().setMode("ace/mode/markdown");
    editor.setValue([{% for line in doc.md_content.splitlines() %}"{{line}}", {%endfor%}].join("\n"));
    editor.getSession().on('change', send_microcommit);

    function handle_recvd_events(events) {
        editor.getSession().redoChanges(events, true);
    }

    (function worker(){
        console.log("worker called");
        $.ajax({
            type: "POST",
            url: '/{{doc.url_id}}/update',
            success: function(data) {
                if(data.events) {
                    console.log("I will try to handle the following events:" + data.events);
                    handle_recvd_events(data.events);
                }
                update_render(data.render);
            },
            complete: function() {
                // Schedule the next request when the current one's complete
                setTimeout(worker, 1000);
            }
        });
    })();
</script>
{% endblock %}
